@{
    ViewBag.Title = "Notes";
    var loggedInUser = (Data.Model.User)TempData["Apr"];
    TempData["Apr"] = loggedInUser;


    List<Data.Model.Notes> UserNotes = new List<Data.Model.Notes>();
    using (Data.Data.NotesContext context = new Data.Data.NotesContext())
    {
        foreach (Data.Model.Notes note in context.Notes)
        {
            if (note.UserId == loggedInUser.Id)
            {
                UserNotes.Add(note);
            }
            // TempData["UserNotes"] = UserNotes;
        }
    }

}

<html>
<head>
    <link rel="stylesheet" href="~/Content/html/notes_sheet.css">
</head>
<body>

    <div id="navbar">

        <a class="active" href="Home">
            <img class="image" src="~/Content/Images/logo1.png" width=70px height=18%>
        </a>

        <a href="UserProfile"> @loggedInUser.Username</a>
        <div class="dropdown">
            <button class="dropbtn">
                Идеи
                <i class="fa fa-caret-down"> </i>
            </button>
            <div class="dropdown-content">
                <a href="cooking"> Готварство </a>
                <a href="music"> Музика </a>
                <a href="kino"> Кино </a>

            </div>
        </div>
        <a href="/apr/signout" style="float: right;"> Изход </a>
    </div>
    <title>Бележки</title>
    <div id="myDIV" class="header">
        <h2 style="margin:5px">Моят лист със задачи</h2>
        <input type="text" id="myInput" placeholder="Запиши...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>
    <ul id="myUL">
        @foreach (var note in UserNotes)
        {
            <li>@note.Note</li>
        }

    </ul>

    <script src="~/Content/html/notes_script.js"></script>



</body>
</html>
