@model Data.Model.User

@{
    Layout = null;
    var loggedInUser = (Data.Model.User)TempData["Apr"];
    TempData["Apr"] = loggedInUser;
    string name;
    if (loggedInUser.Name != null)
    {
        name = loggedInUser.Name;
    }
    else
    {
        name = "Име";
    }
    string pictureString;
    if (loggedInUser.Gender == "Мъж")
    {
        pictureString = "/Content/Images/male.jpg";
    }
    else
    {
        pictureString = "/Content/Images/female.jpg";
    }
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/html/profile_sheet.css">
    <link rel="jssheet" href="~/Content/html/registration_script.js">
    <title></title>
</head>
<body>
    <div id="navbar">

        <a class="active" href="Home">
            <img class="image" src="~/Content/Images/logo1.png" width=70px height=18%>
        </a>

        <a href="UserProfile"> @loggedInUser.Username</a>
        <div class="dropdown">
            <button class="dropbtn">
                Идеи
                <i class="fa fa-caret-down"> </i>
            </button>
            <div class="dropdown-content">
                <a href="cooking"> Готварство </a>
                <a href="music"> Музика </a>
                <a href="kino"> Кино </a>

            </div>
        </div>
        <a href="/apr/signout" style="float: right;"> Изход </a>
    </div>


    <form action="/action_page.php">
        <div class="container">
            <h1>Профил </h1>

            <div class="card">
                <img id="myImage" src=@pictureString alt="Avatar" style="width:100%">
                <div class="container1">
                    <h4><b>@loggedInUser.Name</b></h4>
                </div>
            </div>
            <div>
                <h2>Пол: @loggedInUser.Gender</h2>
            </div>

            
        </div>

    </form>

    <script href="~/Content/html/registration_script.js"></script>
</body>
</html>
