@{
    ViewBag.Title = "Home";
}


    <head>
        <link rel="stylesheet" href="~/Content/html/Index_style.css">
        <link rel="Javascript" href="~/Content/html/Index_script.js" />
        <title> Начална страница </title>
    </head>
<body>

    <div id="navbar">

        <a class="active" href="/Home/Home">
            <img class="image" src="~/Content/Images/logo1.png" width=70px height=18%>
        </a>

        <a href="/User/Register"> Вход/Регистрация</a>
        <div class="dropdown">
            <button class="dropbtn">
                Идеи
                <i class="fa fa-caret-down"> </i>
            </button>
            <div class="dropdown-content">
                <a href="/Home/cooking"> Готварство </a>
                <a href="/Home/music"> Музика </a>
                <a href="/Home/kino"> Кино </a>

            </div>
        </div>
    </div>
    <a href="/User/Register">
        <img src="~/Content/Images/categoryy1.jpg" class="category1"> </img>
    </a>

    <div class="box">
        <h1>За нас: </h1>
        <h2> jhashhjsjhshjsj</h2>
        <h2> jhashhjsjhshjsj</h2>
        <h2> jhashhjsjhshjsj</h2>
        <h2> jhashhjsjhshjsj</h2>
    </div>

    <script src="Index_script.js"></script>

</body>
